body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 48%;
    margin-top: 10%;
}
div{
    padding: 5px;
    background-color: lightblue;
    width: 300px;
    height: 550px;
    border: solid black 1px;
    border-radius: 8px;
    margin-left: 45%;
    
}
form{
    padding: 10px;
}
input{
    width: 90%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 8px;
    border: solid rgb(0, 0, 0) 1px;
}
select{
    width: 95%;
    height: 30px;
    border: solid black 1px;
    border-radius: 8px;
}
button{
    background-color: rgb(78, 195, 78);
    width: 95%;
    padding: 10px;
    margin-top:20px;
    border-radius: 8px;
    border: solid black 1px
}